:root{
    --text-color: black;
    --reset-container-bg: #8c53e8;
    --reset-form-bg: #b181ff;
    --reset-input-color: #9d6ee8;
    --reset-input-color-focus: #b690f3;
}

[data-theme="dark"] {
    --text-color: #ffffff;
    --reset-container-bg: #5a25b0;
    --reset-form-bg: #1C0049;
    --reset-input-color: #3A0088;
    --reset-input-color-focus: #772adb;
  }

.reset-password-container {
    min-height: 100vh;
    background-color: var(--reset-form-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.reset-password-container h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
    font-weight: bold;
}

.reset-password-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.reset-input {
    padding: 1rem 1.5rem;
    border-radius: 50px;
    border: none;
    font-size: 1.2rem;
    outline: none;
    transition: background-color 0.2s;
    background-color: var(--reset-input-color);
}

.reset-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.reset-input:focus {
    background-color: var(--reset-input-color-focus)
}

.reset-button {
    padding: 1rem;
    border-radius: 50px;
    border: none;
    background-color: #9333EA;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: .5rem auto;
    width: 200px;
}

.reset-button:hover {
    background-color: #A855F7;
}

.back-to-login {
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 50px;
    background-color: var(--reset-input-color);
    transition: background-color 0.2s;
    margin-top: 1rem;
}

.back-to-login:hover {
    background-color: var(--reset-input-color-focus);
} 