:root{
    --text-color: black;
    --settings-container-bg: #8c53e8;
    --settings-section-bg: #b181ff;
}

[data-theme="dark"] {
    --text-color: #ffffff;
    --settings-container-bg: #2D0075;
    --settings-section-bg: #1C0049;
  }

[data-theme="light"] {
    --text-color: #1C0049;
    --settings-container-bg: #DCC7FF;
    --settings-section-bg: #ede6fa;
}

[data-theme="light"] .settings-link {
    color: #1C0049;
}
[data-theme="light"] .settings-item {
    border-bottom: 1px solid #c3a0fb;
}
[data-theme="light"] .settings-item:hover {
    background-color: #c3a0fb;
}
[data-theme="light"] .chevron-icon,
[data-theme="light"] .toggle-icon {
    filter: none;
}

.settings-container {
    min-height: 100vh;
    background-color: var(--settings-container-bg);
    color: var(--text-color);
    padding: 2rem;
    width: 100%;
    width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.settings-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 1800px;
}

.settings-icon {
    width: 40px;
    height: 40px;
}

.settings-header h1 {
    font-size: 2.5rem;
    margin: 0;
}

.settings-section {
    background-color: var(--settings-section-bg);
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
    max-width: 1800px;
}

.settings-link {
    text-decoration: none;
    color: var(--text-color);
}

.settings-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-bottom: 1px solid #3A0088;
    transition: background-color 0.2s;
}

.settings-item:last-child {
    border-bottom: none;
}

.settings-item:hover {
    background-color: #3A0088;
    cursor: pointer;
}

.settings-item h2 {
    font-size: 1.2rem;
    margin: 0;
}

.chevron-icon {
    height: 24px;
}

.toggle-icon {
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s;
}

.toggle-icon:hover {
    transform: scale(1.05);
} 